// BOURBON
@import 'bourbon/_bourbon';

$em-base: 10px;

// COLLORS
$orange: #FA6900;
$lightOrange: #FFBF91;
$lightBlue: #53C2E8;
$light: #f0f3f6;
$lightGray: #ced6dc;
$gray: #959fa9;
$darkGray: #4E5F70;
$dark: #475565;
$loginTextColor: #727f8c;
$textBlack: #424242;

$red: #F64747;
$green: #2ECC71;
$yellow: #F5AB35;
$blue: #4183D7;

// FONTS
@import '_fonts';

$roboto: 'Roboto', sans-serif;


// ICONS
@import '_icons.scss';


// PLACEHOLDERS
@import '_placeholders';


// MIXINS
@import '_mixins';