%btn {
  margin: 0;
  padding: 2px 10px;
  position: relative;
  top: 0;
  border: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  cursor: pointer;
  font-family: $roboto;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-decoration: none;
  line-height: 20px;

  &:active:not(.disabled) {
    margin-bottom: 2px;
    top: 2px;
    border-bottom-width: 2px;
  }

  span {
    margin: 0 10px 0 -5px;
    line-height: 16px;
    vertical-align: middle;
  }
}

@mixin button-color($color) {
  background-color: $color;
  border-bottom-color: adjust-color($color, $lightness: -20%, $saturation: -50%, $alpha: -0.5);

  &:hover:not(.disabled) {
    background-color: lighten($color, 5%);
  }
}

@mixin button-icon($name) {
  span {
    @include icon($name);
  }
}

.yes-button {
  @extend %btn;
  @include button-color($green);
  @include button-icon('check');
}

.no-button {
  @extend %btn;
  @include button-color($red);
  @include button-icon('times');
}

.next-button {
  @extend %btn;
  @include button-color(#1BBC9B);
  @include button-icon('chevron-right');
}

.prev-button {
  @extend %btn;
  @include button-color(#F2784B);
  @include button-icon('chevron-left');
}

.save-button {
  @extend %btn;
  @include button-color(#67809F);
  @include button-icon('save');
}

.save-button-2 {
  @extend %btn;
  @include button-color(#1F3A93);
  @include button-icon('save');
}

.add-button {
  @extend %btn;
  @include button-color($lightBlue);
  @include button-icon('plus');
}

.del-button {
  @extend %btn;
  @include button-color($red);
  @include button-icon('minus');
}

.button {
  @extend %btn;
  // @include button-color(#95A5A6);
  @include button-color($lightBlue);
}

.disabled {
  @include button-color(#DADFE1);
  cursor: default;
  color: #6C7A89;
}