@import 'admin-sprites';

input:focus {
  outline: none;
}

label {
  font-size: em(14px);
  line-height: em(24px, 14px);
}

.content-wrapper > form {
  width: 100%;
  display: flex;
  position: relative;
}

.input {
  @include box-sizing(border-box);
  border: 1px solid $lightGray;
  width: 100%;
  padding: 2px 5px;
  line-height: 24px;
  height: 28px;

  &:focus {
    border: 1px solid $gray;
  }
}
  .form-label {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
    text-align: right;
    vertical-align: top;
    padding: 2px 0;
  }
.form-line {
  margin-bottom: 15px;



  input[type='text'],
  input[type='password'],
  select,
  textarea {
    @extend .input;
    width: 300px;
  }

  textarea {
    min-width: 350px;
    max-width: 350px;
    min-height: 150px;
    padding: 2px 5px;
  }
}