%icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

@mixin icon($icon, $position: "before", $replace: false) {
  @if $replace {
    font-size: 0;
  }

  &:#{$position} {
    @extend %icon;
    content: "#{map-get($icons, $icon)}";

    @if $replace {
      font-size: 1rem;
    }

    @content;
  }
}

$icons: (
  search: "\f002",
  user: "\f007",
  check: "\f00c",
  times: "\f00d",
  power-off: "\f011",
  gear: "\f013",
  trash-o: "\f014",
  home: "\f015",
  list-alt: "\f022",
  tag: "\f02b",
  align-justify: "\f039",
  photo: "\f03e",
  pencil: "\f040",
  arrows: "\f047",
  chevron-left: "\f053",
  chevron-right: "\f054",
  plus-circle: "\f055",
  minus-circle: "\f056",
  times-circle: "\f057",
  check-circle: "\f058",
  info-circle: "\f05a",
  plus: "\f067",
  minus: "\f068",
  exclamation-circle: "\f06a",
  chevron-up: "\f077",
  chevron-down: "\f078",
  save: "\f0c7",
  unsorted: "\f0dc",
  sort-down: "\f0dd",
  sort-up: "\f0de",
  file-text-o: "\f0f6",
  circle: "\f111",
  adn: "\f170",
  credit-card: "\f09d",
  gears: "f085",
  envelope-o: "\f003"
);