@mixin icomoon($icon, $position: "before", $replace: false) {
  @if $replace {
    font-size: 0;
  }

  &:#{$position} {
    @extend .icon-#{$icon};
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    @if $replace {
      font-size: 1rem;
    }

    @content;
  }
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-xowwf3');
  src:url('../fonts/icomoon.eot?#iefix-xowwf3') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-xowwf3') format('woff'),
    url('../fonts/icomoon.ttf?-xowwf3') format('truetype'),
    url('../fonts/icomoon.svg?-xowwf3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-times:before {
  content: "\f00d";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-arrows:before {
  content: "\f047";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-save:before {
  content: "\f0c7";
}