%msg {
  margin: 0 0 1em;
  position: relative;
  // width: 400px;
  width: 100%;
}

@mixin msg-type($bg-color, $sprite) {
  background: $bg-color;

  .msg-icon {
    @extend %msg-icon-img;

    @include icon($sprite);
  }
}

.messages {
  // width: 400px;
  // position: fixed;
  // bottom: 0;
  // right: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include box-sizing(border-box);
  padding: 0 15px;
  // @include rgba('background', 0, 0, 0, 0.25);
  z-index: 10013;
  color: white;

  > div {
    @include display(flex);
    @include align-items(center);

    &:last-child {
      margin: 0;
    }
  }

  p {
    margin: 25px 15px;
    font-size: em(14px);
    width: 100%;
  }
}

.msg-error {
  @extend %msg;
  @include msg-type($red, 'times-circle');
}

.msg-info {
  @extend %msg;
  @include msg-type(#3498DB, 'info-circle');
}

.msg-success {
  @extend %msg;
  @include msg-type($green, 'check-circle');
}

%msg-icon-img {
  cursor: default;
  margin-left: 10px;
  font-size: em(28px);
}

.close-msg {
  @include icon('times');
  margin: 5px 10px 0 0;
  cursor: pointer;
  @include align-self(flex-start);
  font-size: em(14px);
}