// @import 'bourbon/_bourbon';

// %sprites {
//   background-image: url('../images/admin/spritesheet.png');
// }

// %icon {
//   @extend %sprites;
//   display: inline-block;
//   vertical-align: middle;
// }

%page-type {
  margin: 9px 0 9px 10px;
  float: left;
  height: 34px;
}

%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%clear {
  @include clearfix;
}

%border-box {
  @include box-sizing(border-box);
}

%pointer {
  cursor: pointer;
}