$close-msg-x: 141px;
$close-msg-y: 61px;
$close-msg-offset-x: -141px;
$close-msg-offset-y: -61px;
$close-msg-width: 8px;
$close-msg-height: 8px;
$close-msg-total-width: 157px;
$close-msg-total-height: 132px;
$close-msg-image: '../images/admin/spritesheet.png';
$close-msg: 141px 61px -141px -61px 8px 8px 157px 132px '../images/admin/spritesheet.png';
$close-red-x: 141px;
$close-red-y: 52px;
$close-red-offset-x: -141px;
$close-red-offset-y: -52px;
$close-red-width: 8px;
$close-red-height: 8px;
$close-red-total-width: 157px;
$close-red-total-height: 132px;
$close-red-image: '../images/admin/spritesheet.png';
$close-red: 141px 52px -141px -52px 8px 8px 157px 132px '../images/admin/spritesheet.png';
$close-x: 141px;
$close-y: 17px;
$close-offset-x: -141px;
$close-offset-y: -17px;
$close-width: 12px;
$close-height: 12px;
$close-total-width: 157px;
$close-total-height: 132px;
$close-image: '../images/admin/spritesheet.png';
$close: 141px 17px -141px -17px 12px 12px 157px 132px '../images/admin/spritesheet.png';
$delete-x: 68px;
$delete-y: 116px;
$delete-offset-x: -68px;
$delete-offset-y: -116px;
$delete-width: 16px;
$delete-height: 16px;
$delete-total-width: 157px;
$delete-total-height: 132px;
$delete-image: '../images/admin/spritesheet.png';
$delete: 68px 116px -68px -116px 16px 16px 157px 132px '../images/admin/spritesheet.png';
$dodaj-x: 0px;
$dodaj-y: 35px;
$dodaj-offset-x: 0px;
$dodaj-offset-y: -35px;
$dodaj-width: 80px;
$dodaj-height: 26px;
$dodaj-total-width: 157px;
$dodaj-total-height: 132px;
$dodaj-image: '../images/admin/spritesheet.png';
$dodaj: 0px 35px 0px -35px 80px 26px 157px 132px '../images/admin/spritesheet.png';
$drag-x: 0px;
$drag-y: 0px;
$drag-offset-x: 0px;
$drag-offset-y: 0px;
$drag-width: 34px;
$drag-height: 34px;
$drag-total-width: 157px;
$drag-total-height: 132px;
$drag-image: '../images/admin/spritesheet.png';
$drag: 0px 0px 0px 0px 34px 34px 157px 132px '../images/admin/spritesheet.png';
$edit-x: 141px;
$edit-y: 0px;
$edit-offset-x: -141px;
$edit-offset-y: 0px;
$edit-width: 16px;
$edit-height: 16px;
$edit-total-width: 157px;
$edit-total-height: 132px;
$edit-image: '../images/admin/spritesheet.png';
$edit: 141px 0px -141px 0px 16px 16px 157px 132px '../images/admin/spritesheet.png';
$error-x: 116px;
$error-y: 25px;
$error-offset-x: -116px;
$error-offset-y: -25px;
$error-width: 24px;
$error-height: 24px;
$error-total-width: 157px;
$error-total-height: 132px;
$error-image: '../images/admin/spritesheet.png';
$error: 116px 25px -116px -25px 24px 24px 157px 132px '../images/admin/spritesheet.png';
$galeria-x: 51px;
$galeria-y: 116px;
$galeria-offset-x: -51px;
$galeria-offset-y: -116px;
$galeria-width: 16px;
$galeria-height: 16px;
$galeria-total-width: 157px;
$galeria-total-height: 132px;
$galeria-image: '../images/admin/spritesheet.png';
$galeria: 51px 116px -51px -116px 16px 16px 157px 132px '../images/admin/spritesheet.png';
$info-x: 81px;
$info-y: 35px;
$info-offset-x: -81px;
$info-offset-y: -35px;
$info-width: 24px;
$info-height: 24px;
$info-total-width: 157px;
$info-total-height: 132px;
$info-image: '../images/admin/spritesheet.png';
$info: 81px 35px -81px -35px 24px 24px 157px 132px '../images/admin/spritesheet.png';
$klucz-x: 102px;
$klucz-y: 116px;
$klucz-offset-x: -102px;
$klucz-offset-y: -116px;
$klucz-width: 16px;
$klucz-height: 16px;
$klucz-total-width: 157px;
$klucz-total-height: 132px;
$klucz-image: '../images/admin/spritesheet.png';
$klucz: 102px 116px -102px -116px 16px 16px 157px 132px '../images/admin/spritesheet.png';
$list-x: 116px;
$list-y: 75px;
$list-offset-x: -116px;
$list-offset-y: -75px;
$list-width: 24px;
$list-height: 24px;
$list-total-width: 157px;
$list-total-height: 132px;
$list-image: '../images/admin/spritesheet.png';
$list: 116px 75px -116px -75px 24px 24px 157px 132px '../images/admin/spritesheet.png';
$logout-x: 81px;
$logout-y: 89px;
$logout-offset-x: -81px;
$logout-offset-y: -89px;
$logout-width: 24px;
$logout-height: 24px;
$logout-total-width: 157px;
$logout-total-height: 132px;
$logout-image: '../images/admin/spritesheet.png';
$logout: 81px 89px -81px -89px 24px 24px 157px 132px '../images/admin/spritesheet.png';
$metatag-x: 0px;
$metatag-y: 116px;
$metatag-offset-x: 0px;
$metatag-offset-y: -116px;
$metatag-width: 16px;
$metatag-height: 16px;
$metatag-total-width: 157px;
$metatag-total-height: 132px;
$metatag-image: '../images/admin/spritesheet.png';
$metatag: 0px 116px 0px -116px 16px 16px 157px 132px '../images/admin/spritesheet.png';
$news-x: 34px;
$news-y: 116px;
$news-offset-x: -34px;
$news-offset-y: -116px;
$news-width: 16px;
$news-height: 16px;
$news-total-width: 157px;
$news-total-height: 132px;
$news-image: '../images/admin/spritesheet.png';
$news: 34px 116px -34px -116px 16px 16px 157px 132px '../images/admin/spritesheet.png';
$nie-x: 0px;
$nie-y: 62px;
$nie-offset-x: 0px;
$nie-offset-y: -62px;
$nie-width: 80px;
$nie-height: 26px;
$nie-total-width: 157px;
$nie-total-height: 132px;
$nie-image: '../images/admin/spritesheet.png';
$nie: 0px 62px 0px -62px 80px 26px 157px 132px '../images/admin/spritesheet.png';
$off-x: 141px;
$off-y: 41px;
$off-offset-x: -141px;
$off-offset-y: -41px;
$off-width: 10px;
$off-height: 10px;
$off-total-width: 157px;
$off-total-height: 132px;
$off-image: '../images/admin/spritesheet.png';
$off: 141px 41px -141px -41px 10px 10px 157px 132px '../images/admin/spritesheet.png';
$on-x: 141px;
$on-y: 30px;
$on-offset-x: -141px;
$on-offset-y: -30px;
$on-width: 10px;
$on-height: 10px;
$on-total-width: 157px;
$on-total-height: 132px;
$on-image: '../images/admin/spritesheet.png';
$on: 141px 30px -141px -30px 10px 10px 157px 132px '../images/admin/spritesheet.png';
$profil-x: 116px;
$profil-y: 50px;
$profil-offset-x: -116px;
$profil-offset-y: -50px;
$profil-width: 24px;
$profil-height: 24px;
$profil-total-width: 157px;
$profil-total-height: 132px;
$profil-image: '../images/admin/spritesheet.png';
$profil: 116px 50px -116px -50px 24px 24px 157px 132px '../images/admin/spritesheet.png';
$przekierowanie-x: 119px;
$przekierowanie-y: 116px;
$przekierowanie-offset-x: -119px;
$przekierowanie-offset-y: -116px;
$przekierowanie-width: 16px;
$przekierowanie-height: 16px;
$przekierowanie-total-width: 157px;
$przekierowanie-total-height: 132px;
$przekierowanie-image: '../images/admin/spritesheet.png';
$przekierowanie: 119px 116px -119px -116px 16px 16px 157px 132px '../images/admin/spritesheet.png';
$success-x: 116px;
$success-y: 0px;
$success-offset-x: -116px;
$success-offset-y: 0px;
$success-width: 24px;
$success-height: 24px;
$success-total-width: 157px;
$success-total-height: 132px;
$success-image: '../images/admin/spritesheet.png';
$success: 116px 0px -116px 0px 24px 24px 157px 132px '../images/admin/spritesheet.png';
$szukaj-x: 85px;
$szukaj-y: 116px;
$szukaj-offset-x: -85px;
$szukaj-offset-y: -116px;
$szukaj-width: 16px;
$szukaj-height: 16px;
$szukaj-total-width: 157px;
$szukaj-total-height: 132px;
$szukaj-image: '../images/admin/spritesheet.png';
$szukaj: 85px 116px -85px -116px 16px 16px 157px 132px '../images/admin/spritesheet.png';
$tak-x: 0px;
$tak-y: 89px;
$tak-offset-x: 0px;
$tak-offset-y: -89px;
$tak-width: 80px;
$tak-height: 26px;
$tak-total-width: 157px;
$tak-total-height: 132px;
$tak-image: '../images/admin/spritesheet.png';
$tak: 0px 89px 0px -89px 80px 26px 157px 132px '../images/admin/spritesheet.png';
$tekst-x: 17px;
$tekst-y: 116px;
$tekst-offset-x: -17px;
$tekst-offset-y: -116px;
$tekst-width: 16px;
$tekst-height: 16px;
$tekst-total-width: 157px;
$tekst-total-height: 132px;
$tekst-image: '../images/admin/spritesheet.png';
$tekst: 17px 116px -17px -116px 16px 16px 157px 132px '../images/admin/spritesheet.png';
$user-x: 81px;
$user-y: 62px;
$user-offset-x: -81px;
$user-offset-y: -62px;
$user-width: 24px;
$user-height: 24px;
$user-total-width: 157px;
$user-total-height: 132px;
$user-image: '../images/admin/spritesheet.png';
$user: 81px 62px -81px -62px 24px 24px 157px 132px '../images/admin/spritesheet.png';
$zapisz-x: 35px;
$zapisz-y: 0px;
$zapisz-offset-x: -35px;
$zapisz-offset-y: 0px;
$zapisz-width: 80px;
$zapisz-height: 26px;
$zapisz-total-width: 157px;
$zapisz-total-height: 132px;
$zapisz-image: '../images/admin/spritesheet.png';
$zapisz: 35px 0px -35px 0px 80px 26px 157px 132px '../images/admin/spritesheet.png';

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
