@import '_base';

body {
  background: $light;
  margin: 0;
  padding: 0;
  font-family: $roboto;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  color: #424242;
  min-width: 980px;
}

pre {
  display: block;
  background: white;
  margin: 10px;
  padding: 15px;
  border: 2px dashed black;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  @include box-sizing(border-box);
}

h2,
h3,
h4 {
  margin-top: 0px;
}

h1,
.h1 {
  display: inline-block;
  font-size: em(30px);
  line-height: em(45px, 30px);
  margin: 0;
  padding: 10px;

  img {
    vertical-align: middle;
    margin-right: 10px;
  }
}

h2,
.h2 {
  font-size: em(20px);
  line-height: em(30px, 20px);
  margin-bottom: em(30px, 20px);
}

h3,
.h3 {
  font-size: em(16px);
  line-height: em(24px, 16px);
  margin-bottom: em(24px, 16px);
}

h4,
.h4 {
  font-size: em(14px);
  line-height: em(21px, 14px);
  margin-bottom: em(21px, 14px);
}

a {
  color: $textBlack;
  text-decoration: none;
}

.clear {
  @extend %clear;
}

.top-wrapper {
  width: 100%;
  background: #FBFBFB;
}

.header-wrapper {
  @include clearfix;
  margin: 0 10px;
}

.user-menu {
  @include display(flex);
  @extend %list;
  float: right;
}

.user {
  @include display(flex);
  @include align-items(center);
  height: 80px;
  margin-right: 20px;
  text-align: right;

  > span {
    @include icon('user');
    font-size: em(40px);
    margin-left: 15px;
    cursor: default;
  }

  div {
    span {
      display: block;
      font-size: em(14px);
      line-height: em(21px, 14px);
    }
  }
}

.profil,
.logout {
  display: table-cell;
  @include box-sizing(border-box);
  height: 80px;
  width: 65px;
  text-align: center;
  vertical-align: middle;
  font-size: em(14px);
  padding-bottom: 4px;
  border-top: 4px solid #FBFBFB;
  @include transition(0.3s);

  &.active,
  &:hover {
    border-top-color: $lightBlue;
  }

  span {
    font-size: em(24px, 14px);
    line-height: em(34px, 24px);
    display: block;
  }
}

.profil {
  span {
    @include icon('credit-card');
  }
}

.logout {
  span {
    @include icon('power-off');
    color: $red;
  }
}

.menu-wrapper {
  background: $darkGray;
  border-right: none;
  border-left: none;

  ul {
    @extend %list;
    @extend %clear;

    ul {
      background: $darkGray;
      position: absolute;
      overflow: hidden;
      height: 0px;
      text-align: center;
      z-index: 999;

      li {
        display: block !important;
        margin: 0 auto;
        float: none;
        width: inherit;
      }

      a {
        display: block !important;
        line-height: 28px !important;
        padding: 6px 17px 5px 16px !important;
        text-align: center !important;
      }
    }
  }


  li {
    float: left;
    border-right: 1px solid $dark;

    a,
    a:visited {
      color: white;
      text-decoration: none;
      display: block;
      padding: 10px 15px 6px;
      font-size: em(14px);
      line-height: em(21px, 14px);
      border-bottom: 4px solid $darkGray;
      @include transition(0.3s);

      &.active,
      &:hover {
        border-bottom: 4px solid $lightBlue;
      }
    }

    &:hover {
      > a {
        border-bottom: 4px solid $lightBlue;
      }

      ul {
        height: auto;
      }
    }
  }

}

.content-wrapper {
  @extend %border-box;
  @include display(flex);
  padding: 20px 0;
  position: relative;
}

.content, .left, .content-full {
  @extend %border-box;
  padding: 0 20px;
}

.content-center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.left {
  width: 25%;
  min-width: 315px;

  .form-line {
    select,
    input[type='text'],
    input[type='password'] {
      width: 75%;
    }
  }
}

.content {
  width: 75%;
}

.content-full {
  width: 100%;

  .form-line {
    max-width: 960px;
  }
}

.hidden-list {
  display: none;
  width: 100%;
  margin: 0 20px 20px;
}

.list-button {
  @include icon('align-justify');
  @extend %pointer;
  position: absolute;
  right: 20px;
  font-size: em(28px);
}

// ICONS
.status-icon {
  display: inline-block;
  vertical-align: middle;
}

.edit {
  @include icon('pencil');
  @extend %pointer;
}

.password {
  @include icon('exclamation-circle');
  @extend %pointer;
}

.delete {
  @include icon('trash-o');
  @extend %pointer;
}

.metatag {
  @include icon('tag');
  @extend %pointer;
}

.send {
  @include icon('envelope-o');
  @extend %pointer;
}

// .modulT {
//   @extend %icon;
//   @extend %page-type;
//   @include spriteImage($tekst);
// }

// .modulAM {
//   @extend %icon;
//   @extend %page-type;
//   @include spriteImage($news);
// }

// .modulGM {
//   @extend %icon;
//   @extend %page-type;
//   @include spriteImage($galeria);
// }

// .modulP {
//   @extend %icon;
//   @extend %page-type;
//   @include spriteImage($przekierowanie);
// }

/***** NESTEDSORT *****/
.nestedSort {
  @extend %list;
  margin: 0 0 3em;

  li {
    margin: 5px 0;
  }

  ol {
    @extend %list;
    margin: 0 0 0 34px;
  }
}

.listItem {
  @include display(flex);
  background: #FFFFFF;
  border-bottom: 1px solid $lightBlue;
  width: 100%;
  padding-right: 5px;
  @include box-sizing(border-box);

  .handle {
    margin: 0 10px 0 0;
    background-color: $lightBlue;
    @include icon('arrows');
    color: white;
    font-size: em(16px);
    line-height: em(33px, 16px);
    width: 33px;
    text-align: center;
    cursor: move;
  }

  p {
    margin: 6px 6px 6px 16px;
    width: 100%;
    font-size: em(14px);
    line-height: em(21px, 14px);
  }
}

.menu-status {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  span {
    @include icon('circle');
    @extend %pointer;
    display: block;
    font-size: em(10px);
    line-height: em(33px, 10px);
    width: 18px;
    text-align: center;
  }
}

td {
  .menu-status {
    span {
      font-size: em(10px, 14px);
    }
  }
}

.statusY {
  color: $green;
}

.statusN {
  color: $red;
}

.placeholder {
  background: $lightGray;
  border: 1px dashed $gray;
}

.menu-buttons {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  width: 80px;
  margin: 0 auto;

  a {
    font-size: em(18px);
    line-height: em(24px, 18px);
    width: 24px;
    text-align: center;
    @include transition(0.3s);

    &:hover {
      color: white;
      background: $lightBlue;
    }
  }
}

td {
  .menu-buttons {
    a {
      font-size: em(18px, 14px);
    }
  }
}

.modulClass {
  margin: 0 0 0 10px;
}

.none {
  display: none;
}


.filter-wrapper,
.dataTables_filter label {
  position: absolute;
  right: 20px;
  @include display(flex);
  @include align-items(center);

  input[type="text"] {
    @extend .input;
    width: 200px;
  }
}

.szukaj {
  @include icon('search');
  font-size: em(18px);
  margin-right: 5px;
}

label {
  .szukaj {
    font-size: em(18px, 14px);
  }
}

/***** DIALOG *****/
.metatags-box {
  display: none;
  padding: 10px;

  textarea {
    resize: none;
  }
}

.simplemodal-overlay {
  background-color: #000;
  z-index: 10011 !important;
  opacity: 0.55 !important;
}

.simplemodal-container {
  background: white;
  @include box-sizing(border-box);
  box-shadow: 0px 1px 10px rgba(139, 157, 175, 0.18);
  z-index: 10012 !important;

  a {
    &.modalCloseImg {
      @include icon('times');
      font-size: em(16px);
      z-index: 3200;
      position: absolute;
      top: 3px;
      right: 5px;
      @extend %pointer;
    }
  }
}

.confirm-box {
  display: none;
  padding: 10px;

  > div:not(.clear) {
    float: right;
    margin: 20px 0;
  }

  button:first-child {
    margin: 0 10px 0 0;
  }

  p {
    font-size: em(14px);
    line-height: em(21px, 14px);
  }
}

.loader-image-container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  @include rgba('background-color', 0, 0, 0, 0.1);

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
  }
}

/**** REST *****/
.cke {
  max-width: 960px;
}

/***** TABELE *****/
.list-table {
  border-collapse: collapse;
  text-align: center;
  line-height: em(24px, 14px);
  font-size: em(14px);

  thead {
    background: $gray;
    color: white;
    line-height: 24px;
  }

  th {
    font-weight: 700;
    font-size: 14px;
    padding: 5px 20px;
    @include user-select(none);
  }

  tbody {
    line-height: 24px;

    .odd {
      background: white;

      .sorting_1 {
        background: #edf9fd;
      }
    }

    .even {
      background: #E1ECF8;

      .sorting_1 {
        background: #d3e8f6;
      }
    }
  }

  td {
    .statusY,
    .statusN,
    .showY,
    .showN {
      float: none;
    }
  }

  .sorting_asc,
  .sorting_desc,
  .sorting {
    @extend %pointer;
  }

  .sorting {
    background: url("../images/admin/sort_both.png") no-repeat center right;
  }

  .sorting_asc {
    background: url("../images/admin/sort_asc.png") no-repeat center right;
  }

  .sorting_desc {
    background: url("../images/admin/sort_desc.png") no-repeat center right;
  }

  .sorting_asc_disabled {
    background: url("../images/admin/sort_asc_disabled.png") no-repeat center right;
  }

  .sorting_desc_disabled {
    background: url("../images/admin/sort_desc_disabled.png") no-repeat center right;
  }
}

.dataTables_length {
  select {
    width: 75px !important;
  }
}

.dataTables_length,
.dataTables_filter {
  display: inline-block;
  margin-bottom: 16px;

  input,
  select, {
    @extend .input;
  }
}

.dataTables_filter {
  float: right;
}

.dataTables_info,
.dataTables_paginate {
  display: inline-block;
  margin-top: 16px;
  font-size: em(14px);
  line-height: em(21px, 14px);
}

.dataTables_info {
  height: 28px;
  line-height: 24px;
}

.dataTables_paginate {
  float: right;
}

.paginate_button {
  display: inline-block;
  background: $gray;
  @include box-sizing(border-box);
  padding: 5px 10px;
  color: white;
  @extend %pointer;
  border-right: 1px solid $lightGray;
  @include user-select(none);

  &.disabled {
    background: $lightGray;
    cursor: default;
  }

  &:not(.disabled):hover,
  &.current {
    background: $lightBlue;
  }

  &.current {
    cursor: default;
  }

  &.next {
    border: none;
  }
}

.important {
  color: $red;
}

// BUTTONS
@import '_buttons.scss';

// MESSAGES
@import '_messages';

// FORMS
@import '_forms';