.multiselect {
    width: 100%;
}
/* kontrolki selekta */
    .multiselect .multiselect-controls {
        height:30px;
    }
    .multiselect .multiselect-cnt {
        background: #FFF;
        display:none;
        border:1px solid #ddd;
        padding:10px;
        box-shadow:0 2px 2px -1px rgba(0, 0, 0, 0.1);
        margin-top:60px;
        width: 600px;
        position: absolute;
        z-index: 1;
    }
    .multiselect.active .multiselect-cnt {
        display:block;
    }
    .multiselect .filter-cnt {
        width:230px;
        margin-right:10px;
        display:inline-block;
        vertical-align:top;
    }
    .multiselect .filter-cnt label {
        display:none;
    }
    .multiselect .filter-cnt input {
        width:100%;
        display:block;
        height:30px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        border:1px solid #ddd;
        padding:0 10px 0 25px;
        border-radius:3px;
        background:url('../images/admin/search.png') 5px center no-repeat;
    }
    .ie .multiselect .filter-cnt input {
        line-height:30px;
    }
    .multiselect .filter-cnt input:focus,
    .multiselect .filter-cnt input:active {
        border:1px solid #bbb;
        background-color:#fafafa;
        box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.2);
    }

/* guziki select-all i deselect-all */
    .multiselect .buttons-cnt {
        width:290px;
        display:inline-block;
        vertical-align:top;
        text-align:left;
    }
    .multiselect .buttons-cnt a {
        text-align:left;
        width:33%;
        display:inline-block;
        max-width:130px;
        padding-left:35px;
        height:30px;
        color:#444;
        font:11px/30px sans-serif;
        margin:0 2px;
        text-decoration:none;
        outline:none;
        border-radius:3px;
    }
    .multiselect .buttons-cnt a:hover {
        color:#000;
    }
    .multiselect .buttons-cnt a.select-all {
        background:url('../images/admin/ok.png') 10px center no-repeat;
    }
    .multiselect .buttons-cnt a.deselect-all {
        background:url('../images/admin/no.png') 10px center no-repeat;
    }
    .multiselect .multiselect-controls .close {
        width:20%;
        display:inline-block;
        vertical-align:top;
        width:22px;
        height:22px;
        background:url('../images/admin/close.png') no-repeat;
        overflow:hidden;
        text-indent:-999px;
        float:right;
        margin:3px 0 0 0;
    }

/* lista checkboxów */
    .multiselect .list-container {
        overflow:hidden;
        overflow-y:auto;
        height:209px;
        margin:10px 0 0 0;
        border:1px solid #fff;
        border-radius:3px;
        box-shadow:inset 0 0 6px rgba(0, 0, 0, .2);
        position:relative;
    }
    .multiselect .list-container .empty-list {
        font:bold 13px sans-serif;
        margin:90px 10px 0 10px;
        text-align:center;
        color:#444;
        display:block;
        padding:10px;
    }
    .multiselect ul {
        padding:0;
        margin:0;
        list-style:none;
        font:13px sans-serif;
    }
    .multiselect ul li {
        padding:7px;
        border-bottom:1px solid #eee;
        position:relative;
        border-left:3px solid #ddd;
    }
    .multiselect ul li:last-child {
        border-bottom:0
    }
    .multiselect ul li input {
        position:absolute;
        top:3px;
        left:3px;
    }
    .multiselect ul li label {
        display:block;
        width:100%;
        height:100%;
        padding-left:30px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
        font-size:12px;
        color:#333;
    }
    .multiselect ul .group-name {
        color:#444;
        border-left:0;
        margin:0;
    }
    .multiselect ul li.select {
        background:#f5f5f5;
        border-left:3px solid #89CE7E;
    }
    .multiselect ul li.select:first-child {
        box-shadow:inset 0 2px 4px -2px rgba(0, 0, 0, .2);
    }
    .multiselect ul li.select:last-child {
        box-shadow:inset 0 -2px 4px -2px rgba(0, 0, 0, .2);
    }

    .multiselect > input {
        background: #fff url('../images/admin/select-arrow.png') 97% center no-repeat;
        cursor:pointer;
        padding-right:30px;
        white-space: nowrap;
        text-overflow:ellipsis;
        width:200px;
    }

/* wygląd tego elementu powinien być nadany przez layout reszty input:text w formularzach na stronie */
    .multiselect > input {
        border:1px solid #ddd;
        height:30px;
        padding-left:10px;
        width:200px;
    }
    .ie .multiselect > input {
        line-height:30px;
    }


.multiselect-container {
  display: inline-block;
  width: 75%;
}

.fake-multiselect {
  width: 100% !important;
}