#page-wrapper {
    display: grid;
    grid-template-columns: 175px auto;
    column-gap: 20px;
}

.header-wrapper h1 {
    padding: 0;
    font-size: 0.7rem;
}

/* .user-menu .user span{
    display: none;
} */
.user-menu {
    display: block !important;
    float: none !important;
}

.user-menu li {
    margin: 0 auto !important;
    display: table !important;
}

.menu-wrapper li {
    float: initial !important;
    border: 0 !important;
    list-style: none;
}

.menu-wrapper.parentMenu ul {
    list-style: none;
}

.menu-wrapper .dropDown {
    background: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.user {
    display: block !important;
    margin: 0 auto !important;
    text-align: center;
}

.user>span {
    font-size: 2rem !important;
    margin: 0 !important;
    cursor: pointer !important;
}

.top-wrapper {
    position: relative !important;
    height: 100vh !important;
    background: none !important;
}

.top-wrapper .top {
    position: fixed !important;
    height: 94.5vh !important;
    background: #FFFFFF !important;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05) !important;
    width: 160px;
    border-radius: 4px !important;
    padding: 5px !important;
    margin: 20px !important;
    border-radius: 4px !important;
}


.list-table td {
    padding: 7px 1px;
}

body {
    background: #F5F6FA !important;
}

.menu-wrapper {
    background: white !important;
    border: 0 !important;
}

.menu-wrapper ul {
    padding: 10px;
}

.menu-wrapper li a,
.menu-wrapper li a:visited {
    color: #31394D !important;
    border: 0 !important;
}


.menu-wrapper li a.active {
    border: 0;
    transition: all 0.3s ease;
    background: linear-gradient(180deg, #679CF6 0%, #4072EE 100%);
    box-shadow: 0px 5px 15px #ACB2C1;
    border-radius: 5px;
    margin-right: -15px;
    padding-right: 30px;
    font-weight: bold;
    color: #FFFFFF !important;
    padding: 15px;
}

.dataTables_paginate a {
    border-radius: 7px;
    margin: 3px;
}

.menu-wrapper li a.active,
.menu-wrapper li a:hover,
.menu-wrapper li a:visited.active,
.menu-wrapper li a:visited:hover,
.menu-wrapper li:hover>a {
    border-bottom: none;
}

.dataTables_wrapper,
.zgloszenia,
.add-family-box,
.raporty-table,
table,
form,
.left>form,
.list-table,
.form,
.rekordy-info {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    padding: 15px;
    overflow: hidden;
}

button,
.button,
.prev-button,
.next-button {
    border: none !important;
    padding: 10px 30px !important;
    border-radius: 22px !important;
    transition: all 0.3s ease;
}

button:hover,
.button:hover,
.prev-button:hover,
.next-button:hover {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.tabList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.tabList>li.active a {
    background: linear-gradient(180deg, #679CF6 0%, #4072EE 100%);
    color: white;
    border-radius: 24px;
    padding: 10px 15px;
}

.tabList>li {
    text-transform: uppercase;
    text-align: center;
    border-radius: 24px;
    margin: 15px;
}