.content,
.content-full,
.content-wrapper,
.left,
pre {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

a,
body {
    color: #424242
}

.menu-status,
.user {
    -webkit-box-align: center
}

.cke,
.content-full .form-line {
    max-width: 960px
}

.h1 img,
.logout,
.profil,
.status-icon,
h1 img {
    vertical-align: middle
}

#popUp .msg-icon:before,
.add-button span:before,
.close-msg:before,
.del-button span:before,
.delete:before,
.edit:before,
.js-usun-rekord:before,
.list-button:before,
.listItem .handle:before,
.logout span:before,
.menu-status span:before,
.metatag:before,
.msg-error .msg-icon:before,
.msg-info .msg-icon:before,
.msg-success .msg-icon:before,
.next-button span:before,
.no-button span:before,
.password:before,
.prev-button span:before,
.profil span:before,
.save-button span:before,
.save-button-2 span:before,
.send:before,
.simplemodal-container a.modalCloseImg:before,
.szukaj:before,
.user>span:before,
.yes-button span:before {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1
}

.head-row,
.platnosci-header,
.razem td:first-child {
    text-transform: uppercase
}



.clear:after,
.menu-wrapper ul:after {
    content: "";
    display: table;
    clear: both
}

.content,
.content-full,
.content-wrapper,
.left {
    box-sizing: border-box
}

.delete,
.edit,
.list-button,
.list-table .sorting,
.list-table .sorting_asc,
.list-table .sorting_desc,
.menu-status span,
.metatag,
.paginate_button,
.password,
.platnosci .sorting,
.platnosci .sorting_asc,
.platnosci .sorting_desc,
.send,
.simplemodal-container a.modalCloseImg {
    cursor: pointer
}

body {
    background: #f0f3f6;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    min-width: 980px
}

pre {
    display: block;
    background: #fff;
    margin: 10px;
    padding: 15px;
    border: 2px dashed #000;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    box-sizing: border-box
}

.listItem,
.logout,
.profil {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

h2,
h3,
h4 {
    margin-top: 0
}

.h1,
h1 {
    display: inline-block;
    font-size: 3em;
    line-height: 1.5em;
    margin: 0;
    padding: 10px
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
    margin-bottom: 1.5em;
    line-height: 1.5em
}

.h1 img,
h1 img {
    margin-right: 10px
}

.h2,
h2 {
    font-size: 2em
}

.h3,
h3 {
    font-size: 1.6em
}

.h4,
h4 {
    font-size: 1.4em
}

a {
    text-decoration: none
}

.top-wrapper {
    width: 100%;
    background: #FBFBFB
}

.header-wrapper {
    margin: 0 10px
}

.header-wrapper:after {
    content: "";
    display: table;
    clear: both
}

.user-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: right
}

.user {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    height: 80px;
    margin-right: 20px;
    text-align: right
}

.user>span {
    font-size: 4em;
    margin-left: 15px;
    cursor: default
}

.user>span:before {
    content: ""
}

.user div span {
    display: block;
    font-size: 1.4em;
    line-height: 1.5em
}

.logout,
.profil {
    display: table-cell;
    box-sizing: border-box;
    height: 80px;
    width: 65px;
    text-align: center;
    font-size: 1.4em;
    padding-bottom: 4px;
    border-top: 4px solid #FBFBFB;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s
}

.logout.active,
.logout:hover,
.profil.active,
.profil:hover {
    border-top-color: #53C2E8
}

.logout span,
.profil span {
    font-size: 1.71429em;
    line-height: 1.41667em;
    display: block
}

.profil span:before {
    content: ""
}

.logout span {
    color: #F64747
}

.logout span:before {
    content: ""
}

.menu-wrapper {
    background: #4E5F70;
    border-right: none;
    border-left: none
}

.menu-wrapper ul ul {
    background: #4E5F70;
    position: absolute;
    overflow: hidden;
    height: 0;
    text-align: center;
    z-index: 999
}

.menu-wrapper ul ul li {
    display: block!important;
    margin: 0 auto;
    float: none;
    width: inherit
}

.menu-wrapper ul ul a {
    display: block!important;
    line-height: 28px!important;
    padding: 6px 17px 5px 16px!important;
    text-align: center!important
}

.menu-wrapper li {
    float: left;
    border-right: 1px solid #475565
}

.menu-wrapper li a,
.menu-wrapper li a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px 6px;
    font-size: 1.4em;
    line-height: 1.5em;
    border-bottom: 4px solid #4E5F70;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s
}

.content-wrapper,
.listItem {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.menu-wrapper li a.active,
.menu-wrapper li a:hover,
.menu-wrapper li a:visited.active,
.menu-wrapper li a:visited:hover,
.menu-wrapper li:hover>a {
    border-bottom: 4px solid #53C2E8
}

.menu-wrapper li:hover ul {
    height: auto
}

.content-wrapper {
    display: flex;
    padding: 20px 0;
    position: relative
}

.content,
.content-full,
.left {
    padding: 0 20px
}

.content-center {
    width: 50%;
    margin: 0 auto;
    text-align: center
}

.left {
    width: 25%;
    min-width: 315px
}

.content,
.left .form-line input[type=text],
.left .form-line input[type=password],
.left .form-line select {
    width: 75%
}

.content-full,
.listItem {
    width: 100%
}

.hidden-list {
    display: none;
    width: 100%;
    margin: 0 20px 20px
}

.list-button {
    position: absolute;
    right: 20px;
    font-size: 2.8em
}

.list-button:before {
    content: ""
}

.status-icon {
    display: inline-block
}

.edit:before {
    content: ""
}

.password:before {
    content: ""
}

.delete:before {
    content: ""
}

.metatag:before {
    content: ""
}

.send:before {
    content: ""
}

.nestedSort {
    margin: 0 0 3em
}

.nestedSort li {
    margin: 5px 0
}

.nestedSort ol {
    margin: 0 0 0 34px
}

.listItem {
    display: flex;
    background: #FFF;
    border-bottom: 1px solid #53C2E8;
    padding-right: 5px;
    box-sizing: border-box
}

.paginate_button,
.simplemodal-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.listItem .handle {
    margin: 0 10px 0 0;
    background-color: #53C2E8;
    color: #fff;
    font-size: 1.6em;
    line-height: 2.0625em;
    width: 33px;
    text-align: center;
    cursor: move
}

.listItem .handle:before {
    content: ""
}

.listItem p {
    margin: 6px 6px 6px 16px;
    width: 100%;
    font-size: 1.4em;
    line-height: 1.5em
}

.menu-status {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center
}

.menu-status span {
    display: block;
    font-size: 1em;
    line-height: 3.3em;
    width: 18px;
    text-align: center
}

.menu-status span:before {
    content: ""
}

td .menu-status span {
    font-size: .71429em
}

.statusY {
    color: #2ECC71
}

.statusN {
    color: #F64747
}

.placeholder {
    background: #ced6dc;
    border: 1px dashed #959fa9
}

.menu-buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    width: 80px;
    margin: 0 auto
}

.menu-buttons a {
    font-size: 1.8em;
    line-height: 1.33333em;
    width: 24px;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s
}

.menu-buttons a:hover {
    color: #fff;
    background: #53C2E8
}

td .menu-buttons a {
    font-size: 1.28571em
}

.modulClass {
    margin: 0 0 0 10px
}

.none {
    display: none
}

.dataTables_filter label,
.filter-wrapper {
    position: absolute;
    right: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center
}

.confirm-box,
.metatags-box {
    display: none;
    padding: 10px
}

.szukaj {
    font-size: 1.8em;
    margin-right: 5px
}

.szukaj:before {
    content: ""
}

label .szukaj {
    font-size: 1.28571em
}

.metatags-box textarea {
    resize: none
}

.simplemodal-overlay {
    background-color: #000;
    z-index: 10011!important;
    opacity: .55!important
}

.simplemodal-container {
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 10px rgba(139, 157, 175, .18);
    z-index: 10012!important
}

.simplemodal-container a.modalCloseImg {
    font-size: 1.6em;
    z-index: 3200;
    position: absolute;
    top: 3px;
    right: 5px
}

.simplemodal-container a.modalCloseImg:before {
    content: ""
}

.confirm-box>div:not(.clear) {
    float: right;
    margin: 20px 0
}

.confirm-box button:first-child {
    margin: 0 10px 0 0
}

.confirm-box p {
    font-size: 1.4em;
    line-height: 1.5em
}

.loader-image-container {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    background-color: rgba(0, 0, 0, .1)
}

.loader-image-container>div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px
}

.list-table {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.71429em;
    font-size: 1.4em
}

.list-table thead {
    background: #959fa9;
    color: #fff;
    line-height: 24px
}

.list-table th {
    font-weight: 700;
    font-size: 14px;
    padding: 5px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.list-table tbody {
    line-height: 24px
}

.list-table tbody .odd {
    background: #fff
}

.list-table tbody .odd .sorting_1 {
    background: #edf9fd
}

.list-table tbody .even {
    background: #E1ECF8
}

.list-table tbody .even .sorting_1 {
    background: #d3e8f6
}

.list-table td .showN,
.list-table td .showY,
.list-table td .statusN,
.list-table td .statusY {
    float: none
}

.dataTables_filter,
.dataTables_paginate {
    float: right
}

.list-table .sorting {
    background: url(../images/admin/sort_both.png) center right no-repeat
}

.list-table .sorting_asc {
    background: url(../images/admin/sort_asc.png) center right no-repeat
}

.list-table .sorting_desc {
    background: url(../images/admin/sort_desc.png) center right no-repeat
}

.list-table .sorting_asc_disabled {
    background: url(../images/admin/sort_asc_disabled.png) center right no-repeat
}

.list-table .sorting_desc_disabled {
    background: url(../images/admin/sort_desc_disabled.png) center right no-repeat
}

.dataTables_length select {
    width: 75px!important
}

.dataTables_filter,
.dataTables_length {
    display: inline-block;
    margin-bottom: 16px
}

.dataTables_info,
.dataTables_paginate {
    display: inline-block;
    margin-top: 16px;
    font-size: 1.4em;
    line-height: 1.5em
}

.dataTables_info {
    height: 28px;
    line-height: 24px
}

.paginate_button {
    display: inline-block;
    background: #959fa9;
    box-sizing: border-box;
    padding: 5px 10px;
    color: #fff;
    border-right: 1px solid #ced6dc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.paginate_button.disabled {
    background: #ced6dc;
    cursor: default
}

.paginate_button.current,
.paginate_button:not(.disabled):hover {
    background: #53C2E8
}

.paginate_button.current {
    cursor: default
}

.paginate_button.next {
    border: none
}

.important {
    color: #F64747
}

.add-button,
.button,
.del-button,
.next-button,
.no-button,
.prev-button,
.save-button,
.save-button-2,
.yes-button {
    margin: 0;
    padding: 2px 10px;
    position: relative;
    top: 0;
    border: none;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 20px
}

.head-row,
.razem,
.sezon-buttons a.active,
.status-zmian,
.suma td {
    font-weight: 600
}

.add-button:active:not(.disabled),
.button:active:not(.disabled),
.del-button:active:not(.disabled),
.next-button:active:not(.disabled),
.no-button:active:not(.disabled),
.prev-button:active:not(.disabled),
.save-button-2:active:not(.disabled),
.save-button:active:not(.disabled),
.yes-button:active:not(.disabled) {
    margin-bottom: 2px;
    top: 2px;
    border-bottom-width: 2px
}

.add-button span,
.button span,
.del-button span,
.next-button span,
.no-button span,
.prev-button span,
.save-button span,
.save-button-2 span,
.yes-button span {
    margin: 0 10px 0 -5px;
    line-height: 16px;
    vertical-align: middle
}

.yes-button {
    background-color: #2ECC71;
    border-bottom-color: rgba(64, 84, 73, .5)
}

.yes-button:hover:not(.disabled) {
    background-color: #40d47e
}

.yes-button span:before {
    content: ""
}

.no-button {
    background-color: #F64747;
    border-bottom-color: rgba(151, 64, 64, .5)
}

.no-button:hover:not(.disabled) {
    background-color: #f75f5f
}

.no-button span:before {
    content: ""
}

.next-button {
    background-color: #1BBC9B;
    border-bottom-color: rgba(42, 71, 65, .5)
}

.next-button:hover:not(.disabled) {
    background-color: #1ed2ad
}

.next-button span:before {
    content: ""
}

.prev-button {
    background-color: #F2784B;
    border-bottom-color: rgba(147, 89, 68, .5)
}

.prev-button:hover:not(.disabled) {
    background-color: #f48a63
}

.prev-button span:before {
    content: ""
}

.save-button span:before,
.save-button-2 span:before {
    content: ""
}

.save-button {
    background-color: #67809F;
    border-bottom-color: rgba(80, 80, 80, .5)
}

.save-button:hover:not(.disabled) {
    background-color: #778da9
}

.save-button-2 {
    background-color: #1F3A93;
    border-bottom-color: rgba(32, 35, 44, .5)
}

.save-button-2:hover:not(.disabled) {
    background-color: #2342a8
}

.add-button {
    background-color: #53C2E8;
    border-bottom-color: rgba(78, 120, 135, .5)
}

.add-button:hover:not(.disabled) {
    background-color: #69caeb
}

.add-button span:before {
    content: ""
}

.del-button {
    background-color: #F64747;
    border-bottom-color: rgba(151, 64, 64, .5)
}

.del-button:hover:not(.disabled) {
    background-color: #f75f5f
}

.del-button span:before {
    content: ""
}

.button {
    background-color: #53C2E8;
    border-bottom-color: rgba(78, 120, 135, .5)
}

.button:hover:not(.disabled) {
    background-color: #69caeb
}

.disabled {
    background-color: #DADFE1;
    border-bottom-color: rgba(171, 171, 171, .5);
    cursor: default;
    color: #6C7A89
}

.disabled:hover:not(.disabled) {
    background-color: #e8ebec
}

.msg-error,
.msg-info,
.msg-success {
    margin: 0 0 1em;
    position: relative;
    width: 100%
}

.messages {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    z-index: 10013;
    color: #fff
}

.messages>div {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center
}

.messages>div:last-child {
    margin: 0
}

.messages p {
    margin: 25px 15px;
    font-size: 1.4em;
    width: 100%
}

.msg-error {
    background: #F64747
}

.msg-error .msg-icon:before {
    content: ""
}

.msg-info {
    background: #3498DB
}

.msg-info .msg-icon:before {
    content: ""
}

.msg-success {
    background: #2ECC71
}

.msg-success .msg-icon:before {
    content: ""
}

.msg-error .msg-icon,
.msg-info .msg-icon,
.msg-success .msg-icon {
    cursor: default;
    margin-left: 10px;
    font-size: 2.8em
}

.close-msg {
    margin: 5px 10px 0 0;
    cursor: pointer;
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start;
    font-size: 1.4em
}

.close-msg:before {
    content: ""
}

input:focus {
    outline: 0
}

label {
    font-size: 1.4em;
    line-height: 1.71429em
}

.content-wrapper>form {
    width: 100%;
    display: flex;
    position: relative
}

.dataTables_filter input,
.dataTables_filter label input[type=text],
.dataTables_filter select,
.dataTables_length input,
.dataTables_length select,
.filter-wrapper input[type=text],
.form-line input[type=text],
.form-line input[type=password],
.form-line select,
.form-line textarea,
.input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ced6dc;
    width: 100%;
    padding: 2px 5px;
    line-height: 24px;
    height: 28px
}

.dataTables_filter input:focus,
.dataTables_filter label input[type=text]:focus,
.dataTables_filter select:focus,
.dataTables_length input:focus,
.dataTables_length select:focus,
.filter-wrapper input[type=text]:focus,
.form-line input[type=text]:focus,
.form-line input[type=password]:focus,
.form-line select:focus,
.form-line textarea:focus,
.input:focus {
    border: 1px solid #959fa9
}

.form-label {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
    text-align: right;
    vertical-align: top;
    padding: 2px 0
}

#popUp p,
.form {
    text-align: center
}

.js-usun-rekord,
.regulamin-checkbox {
    vertical-align: middle
}

.form-line {
    margin-bottom: 15px
}

.form-line input[type=text],
.form-line input[type=password],
.form-line select,
.form-line textarea {
    width: 300px
}

.form-line textarea {
    min-width: 350px;
    max-width: 350px;
    min-height: 150px;
    padding: 2px 5px
}

.platnosci,
.zgloszenia-table {
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 2em
}

.platnosci thead,
.zgloszenia-table thead {
    background: #53C2E8;
    color: #fff
}

.platnosci th,
.zgloszenia-table th {
    font-weight: 600;
    text-transform: uppercase
}

.platnosci td,
.platnosci th,
.zgloszenia-table td,
.zgloszenia-table th {
    padding: 10px 5px;
    font-size: 1.4em
}

.platnosci tbody tr:not(.razem):nth-child(2n),
.zgloszenia-table tbody tr:not(.razem):nth-child(2n) {
    background: #E1ECF8
}

.platnosci tbody tr:not(.razem):nth-child(2n) .sorting_1,
.zgloszenia-table tbody tr:not(.razem):nth-child(2n) .sorting_1 {
    background: #d3e8f6
}

.platnosci tbody tr:not(.razem):nth-child(2n+1),
.zgloszenia-table tbody tr:not(.razem):nth-child(2n+1) {
    background: #fff
}

.platnosci tbody tr:not(.razem):nth-child(2n+1) .sorting_1,
.zgloszenia-table tbody tr:not(.razem):nth-child(2n+1) .sorting_1 {
    background: #edf9fd
}

.form>span {
    font-size: 14px;
    line-height: 21px
}

.textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ced6dc;
    padding: 2px 5px;
    line-height: 24px;
    min-height: 50px;
    height: 28px;
    min-width: 66%;
    max-width: 66%
}

.textarea:focus {
    border: 1px solid #959fa9
}

#form-part-2 {
    display: none
}

.uwagi {
    background: #fff!important;
    color: #424242;
    border-top: 2px solid #4e5f70
}

.suma td {
    font-size: 16px;
    background: #475565!important;
    color: #fff
}

#dalej,
.zapisz {
    margin-top: 20px;
    float: right
}

#powrot {
    margin-top: 20px;
    float: left
}

#popUp {
    display: block;
    width: 500px;
    height: inherit;
    color: #fff;
    background-color: #3498DB;
    padding: 15px 10px;
    margin: 0 0 1em;
    position: relative
}

#popUp .msg-left,
#popUp .msg-right,
.js-usun-rekord,
.regulamin div,
.sezon-buttons ul {
    display: inline-block
}

#popUp p {
    margin-top: 0;
    font-size: 14px
}

#popUp .msg-left {
    width: 32px;
    margin-right: 20px
}

#popUp .msg-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    font-size: 32px
}

#popUp .msg-icon:before {
    content: ""
}

#popUp .msg-right {
    width: 80%
}

.razem {
    background: #475565;
    color: #fff;
    line-height: 32px;
    font-size: 12px
}

.razem td:first-child {
    text-align: right
}

.content-full h2,
.no-result-txt,
.platnosci-header,
.propozycja input,
.sezon-buttons,
h4 {
    text-align: center
}

.status-zmian {
    font-size: 16px;
    color: #F64747
}

.info-txt {
    color: red;
    margin-bottom: 28px
}

.info-txt p {
    font-size: 14px
}

.platnosci .sorting {
    background: url(../images/page/sort_both.png) center right no-repeat
}

.platnosci .sorting_asc {
    background: url(../images/page/sort_asc.png) center right no-repeat
}

.platnosci .sorting_desc {
    background: url(../images/page/sort_desc.png) center right no-repeat
}

.platnosci .sorting_asc_disabled {
    background: url(../images/page/sort_asc_disabled.png) center right no-repeat
}

.platnosci .sorting_desc_disabled {
    background: url(../images/page/sort_desc_disabled.png) center right no-repeat
}

.niedoplata {
    background-color: #F64747
}

.nadplata {
    background-color: #4183D7
}

.saldo-ok {
    background-color: #2ECC71
}

.platnosc-err {
    background-color: #F5AB35
}

.head-row {
    background: #53C2E8!important;
    color: #fff
}

.head-row td {
    padding: 10px 5px;
    font-size: 10px
}

.head-row h3 {
    margin-bottom: 0
}

.no-result-txt {
    font-size: 1.4em
}

.js-usun-rekord {
    color: #F64747;
    font-size: 22px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer
}

.js-usun-rekord:before {
    content: ""
}

.dataTables_filter input.imie_nazwisko,
.dataTables_filter label input.imie_nazwisko[type=text],
.dataTables_filter select.imie_nazwisko,
.dataTables_length input.imie_nazwisko,
.dataTables_length select.imie_nazwisko,
.filter-wrapper input.imie_nazwisko[type=text],
.form-line input.imie_nazwisko[type=text],
.form-line input.imie_nazwisko[type=password],
.form-line select.imie_nazwisko,
.form-line textarea.imie_nazwisko,
.imie_nazwisko.input {
    display: inline-block;
    width: calc(100% - 35px);
    vertical-align: middle
}

.zgloszenie-zapisz {
    font-size: 24px;
    padding: 4px 20px;
    float: none
}

.zgloszenie-zapisz span {
    font-size: 24px;
    line-height: 24px
}

.cms-content,
.regulamin {
    font-size: 14px
}

.regulamin div {
    line-height: 1.5em
}

.regulamin a {
    color: #53C2E8
}

.cms-content {
    padding: 50px 0;
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.5em
}

.cms-content p {
    margin-bottom: 1.5em
}

.sezon-buttons {
    margin: 25px 0
}

.sezon-buttons ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.sezon-buttons ul:after {
    content: "";
    display: table;
    clear: both
}

.sezon-buttons li {
    float: left
}

.sezon-buttons a {
    font-size: 1.4em;
    padding: 5px 10px;
    background: #ced6dc
}

.sezon-buttons a.active {
    color: #FFF;
    background: #53C2E8
}

@font-face {
    font-family: icomoon;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/icons/icomoon.eot);
    src: url(../fonts/icons/icomoon.eot?#iefix) format("embedded-opentype"), url(../fonts/icons/icomoon.woff) format("woff"), url(../fonts/icons/icomoon.ttf) format("truetype"), url(../fonts/icons/icomoon.svg#icomoon) format("svg")
}


