@import '../base_style';

.platnosci,
.zgloszenia-table {
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 2em;

  thead {
    background: $lightBlue;
    color: white;
  }

  th {
    font-weight: 600;
    text-transform: uppercase;
  }

  td,
  th {
    padding: 10px 5px;
    font-size: em(14px, 10px);
  }

  tbody {
    tr:not(.razem):nth-child(2n) {
      background: #E1ECF8;

      .sorting_1 {
        background: #d3e8f6;
      }
    }

    tr:not(.razem):nth-child(2n+1) {
      background: white;

      .sorting_1 {
        background: #edf9fd;
      }
    }
  }
}

.form {
  text-align: center;

  > span {
    font-size: 14px;
    line-height: 21px;
  }
}

.textarea {
  @include box-sizing(border-box);
  border: 1px solid $lightGray;
  padding: 2px 5px;
  line-height: 24px;
  min-height: 50px;
  height: 28px;

  &:focus {
    border: 1px solid $gray;
  }

  min-width: 66%;
  max-width: 66%;
}

#form-part-2 {
  display: none;
}

.uwagi {
  background: white !important;
  color: #424242;
  border-top: 2px solid #4e5f70;
}

.suma {
  td {
    font-size: 16px;
    font-weight: 600;
    background: $dark !important;
    color: white;
  }
}

#dalej {
  margin-top: 20px;
  float: right;
}

#powrot {
  margin-top: 20px;
  float: left;
}

.zapisz {
  margin-top: 20px;
  float: right;
}

#popUp {
  display: block;
  width: 500px;
  height: inherit;
  color: white;
  background-color: #3498DB;
  padding: 15px 10px;
  margin: 0 0 1em;
  position: relative;

  p {
    margin-top: 0;
    font-size: 14px;
    text-align: center;
  }

  .msg-left {
    display: inline-block;
    width: 32px;
    margin-right: 20px; }

  .msg-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    @include icon('info-circle');
    font-size: 32px;
  }

  .msg-right {
    display: inline-block;
    width: 80%;
  }
}

.razem {
  background: $dark;
  color: white;
  line-height: 32px;
  font-size: 12px;
  font-weight: 600;

  td:first-child {
    text-align: right;
    text-transform: uppercase;
  }
}

.status-zmian {
  font-size: 16px;
  font-weight: 600;
  color: $red;
}

.content-full {
  h2 {
    text-align: center;
  }
}

.info-txt {
  color: red;
  margin-bottom: 28px;

  p {
    font-size: 14px;
  }
}

.propozycja {
  input {
    text-align: center;
  }
}

.platnosci-header {
  text-align: center;
  text-transform: uppercase;
}


.platnosci {
  .sorting_asc,
  .sorting_desc,
  .sorting {
    @extend %pointer;
  }

  .sorting {
    background: url("../images/page/sort_both.png") no-repeat center right;
  }

  .sorting_asc {
    background: url("../images/page/sort_asc.png") no-repeat center right;
  }

  .sorting_desc {
    background: url("../images/page/sort_desc.png") no-repeat center right;
  }

  .sorting_asc_disabled {
    background: url("../images/page/sort_asc_disabled.png") no-repeat center right;
  }

  .sorting_desc_disabled {
    background: url("../images/page/sort_desc_disabled.png") no-repeat center right;
  }
}

.niedoplata {
  background-color: $red;
}

.nadplata {
  background-color: $blue;
}

.saldo-ok {
  background-color: $green;
}

.platnosc-err {
  background-color: $yellow;
}

h4 {
  text-align: center;
}

.head-row {
  background: $lightBlue !important;
  color: white;
  font-weight: 600;
  text-transform: uppercase;

  td {
    padding: 10px 5px;
    font-size: 10px;
  }

  h3 {
    margin-bottom: 0;
  }
}

.no-result-txt {
  font-size: 1.4em;
  text-align: center;
}

.js-usun-rekord {
  display: inline-block;
  color: $red;
  @include icon('times-circle');
  font-size: 22px;
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.imie_nazwisko.input {
  display: inline-block;
  width: calc(100% - 35px);
  vertical-align: middle;
}

.zgloszenie-zapisz {
  font-size: 24px;
  padding: 4px 20px;
  float: none;

  span {
    font-size: 24px;
    line-height: 24px;
  }
}

.regulamin {
  font-size: 14px;

  div {
    display: inline-block;
    line-height: 1.5em;
  }

  a {
    color: $lightBlue
  }
}

.regulamin-checkbox {
  vertical-align: middle;

}

.cms-content {
  padding: 50px 0;
  max-width: 960px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 1.5em;

  p {
    margin-bottom: 1.5em;
  }
}


.sezon-buttons {
  text-align: center;
  margin: 25px 0; }
.sezon-buttons ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block; }
.sezon-buttons ul:after {
  content: "";
  display: table;
  clear: both; }
.sezon-buttons li {
  float: left; }
.sezon-buttons a {
  font-size: 1.4em;
  padding: 5px 10px;
  background: #ced6dc; }
.sezon-buttons a.active {
  color: #FFF;
  font-weight: 600;
  background: #53C2E8; }