@import '../base_style';

.rodzina-wrapper {
  width: 100%;
  @extend %border-box;
  padding: 0 20px;
}

.rodzina, .opiekunowie, .dzieci {
  padding: 5px 0 5px 10px;
  @extend %border-box;
}

.head {
  color: white;
  font-size: em(16px);
  line-height: em(24px, 16px);
  margin-bottom: em(24px, 16px);
}

.rodzina {
  width: 100%;
  background: $lightBlue;
  margin-bottom: 2em;
}

.opiekunowie, .dzieci {
  width: 50%;
  float: left;
}

.dzieci {
  @include clearfix;
}

.rodzina-header {
  background-color: $gray;
  color: white;
  padding: 5px 0 5px 10px;
}

// TABLE
.import-krok,
.zgloszenia,
.platnosci {
  border-collapse: collapse;
  font-size: 1.4em;
  line-height: 1.71429em;
  text-align: center;
  margin-bottom: 2em;

  td,
  th, {
    padding: 5px;
  }

  thead {
    background: $gray;
    color: white;
    line-height: 34px;

    tr:last-child {
      background: $gray;
    }
  }

  .head-second {
    background: $gray;
    color: white;
  }

  .row:nth-child(2n) {
    background: white;
  }

  .row:nth-child(2n+1) {
    background: #e1ecf8;
  }
}

.head-row,
.razem {
  color: white;
  line-height: 42px;
  background: $dark;
  font-size: 16px;
  font-weight: 600;
}

.rekordy-info {
  text-align: center;
  font-size: em(14px);
  line-height: em(21px, 14px);
  margin: 10px 0;

  .prev,
  .now,
  .next {
    display: inline-block;
  }

  .prev {
    float: left;
  }

  .now {

  }

  .next {
    float: right;
  }
}

.import-form {
  text-align: center;

  input {
    margin: 10px 0 10px;
  }
}

td {
  .input {
    text-align: center;
  }
}

.submit-buttons {
  text-align: center;
  margin: 25px 0;
}

.platnosc-err,
.platnosc-ok,
.platnosc-plus,
.platnosc-empty {
  display: block;
  font-size: 12px;
  @include icon('circle');
  cursor: default;
}

.platnosc-err {
  color: $red;
}

.platnosc-ok {
  color: $green;
}

.platnosc-plus {
  color: $blue;
}

.platnosc-empty {
  color: $yellow;
}

.platnosc-bg-err {
  background-color: $red;
}

.platnosc-bg-ok {
  background-color: $green;
}

.platnosc-bg-plus {
  background-color: $blue;
}

.platnosc-bg-empty {
  background-color: $yellow;
}

.content-center {
  .input {
    width: 25%;
  }

  button {
    display: block;
    margin: 15px auto 0;
  }

  .form-label {
    width: auto;
  }
}

.flex-cont {
  @include display(flex);
}

.header-plus {
  h3,
  button {
    display: inline-block;
  }

  button {
    float: right;
  }
}

.reverse-order-buttons {
  @include display(flex);
  @include justify-content(center);

  button {
    margin: 15px 2px 0;
  }

  .save-button {
    @include order(2);
  }

  .no-button {
    @include order(1);
  }
}

#js-rodziny-list_filter {
  display: none;
}

.form-label.fixed-width {
  width: 220px;
  margin-bottom: 10px;
}

#js-rodziny-table {
  tbody {
    tr {
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);

        .sorting_1,
        .sorting_2 {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

    }
  }
}

hr {
  font-size: 1.4em;
  margin: 2em 0;
  background: black;
  height: 2px;
  border: none;
}

.no-result-txt {
  font-size: 1.4em;
  text-align: center;
}

.center {
  text-align: center;
}

.uwagi {
  background: white !important;
  color: #424242;
  border-top: 2px solid #4e5f70;

  td {
    padding: 10px 5px;
  }

  span {
    font-size: 16px;
    font-weight: 600;
  }
}

.sezon-buttons {
  text-align: center;
  margin: 25px 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix();
    display: inline-block;
  }

  li {
    float: left;
  }

  a {
    font-size: 1.4em;
    padding: 5px 10px;
    background: #ced6dc;

    &.active {
      color: #FFF;
      font-weight: 600;
      background: #53C2E8;
    }
  }
}

.list-table {
  margin-bottom: 1.5em;

  td {
    padding: 1px;
  }
}

.dziecko-box,
.opiekun-box,
.user-box {
  display: none;
}

.edit-box {
  padding: 25px;
  text-align: center;
}

.zarzadzaj-menu {
  text-align: center;
  margin: 25px 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix();
    display: inline-block;
  }

  li {
    float: left;
  }

  a,
  span {
    background: #4e5f70;
    border-bottom: 4px solid #4e5f70;
    color: white;
    display: block;
    font-size: 1.4em;
    line-height: 1.5em;
    padding: 10px 15px 6px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    width: 70px;
  }

   a {
    &:hover {
      border-bottom: 4px solid #53c2e8;
    }
   }

   span {
    border-bottom: 4px solid #53c2e8 !important;
   }
}

.raporty-table {
  border-collapse: collapse;

  select,
  button {
    vertical-align: middle;
  }

  th {
    color: #FFF;
    background: #959fa9;
  }

  tbody {
    td {
      border-bottom: 1px solid;
      background: #FFF;
    }
  }

  th,
  td {
    padding: 5px 20px;
    font-size: 1.4em;
    line-height: 34px;
  }
}

.raporty {
  > h3 {
    float: left;
  }

  .raport-eksport {
    float: right;
  }

  > div {
    clear: both;
  }

  .list-table {
    width: 100%;
  }
}

.ui-state-highlight .ui-state-default {
  background: $orange !important;
  color: #FFF !important;
}

.obecnosci {
  .list-table {
    td {
      padding: 1px 10px;
    }
  }
}

.trening {
  @include icon('file-text-o');
  @extend %pointer;
}

.return-link {
  font-size: 14px;
  margin-bottom: 1em;
  display: block;
}

.odpowiedz {
  background: #FFF !important;
  border-top: 2px solid #4e5f70;
  color: #424242;

  span {
    font-size: 16px;
    font-weight: 600;
  }

  textarea {
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 50px;
    padding: 2px 5px;
  }
}

.centered-form {
  .form-line {
    margin-left: auto;
    margin-right: auto;
  }
}

.form-label-line {
  margin-bottom: 15px;
}

.form-line-last {
  text-align: center;
}