@import '../_base';
@import '../bourbon/_bourbon.scss';

body {
  background: $light;
  font-family: $roboto;
  font-size: 10px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

.login-form {
  @include box-sizing(border-box);
  background: white;
  width: 380px;
  height: 340px;
  margin: auto;
  box-shadow: 0px 1px 10px rgba(139, 157, 175, 0.18);
  text-align: center;

  form {
    padding: 50px 30px;
  }

  p {
    color: #333333;
    padding: 0 5px;
    margin: 14px 0 50px;
    font-size: em(14px);
  }

  div {
    margin-bottom: 20px;
  }

  a,
  a:visited {
    color: #a0b1c3;
    font-size: 12px;

    &:hover {
      color: $darkGray;
    }
  }
}

input {
  @include box-sizing(border-box);
  width: 100%;
  height: 48px;
}

input[type="text"],
input[type="password"] {
  font-family: $roboto;
  font-size: 14px;
  color: $loginTextColor;
  padding: 0 20px;
  border: 1px solid $lightGray;

  &:focus {
    border-color: $gray;
  }
}

input[type="submit"] {
  border: none;
  background: $lightBlue;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 4px 0px 0px #4ca5c4;
  cursor: pointer;
  padding: 0;
  position: relative;

  &:active {
    box-shadow: 0px 2px 0px 0px #4ca5c4;
    top: 2px;
  }

  &:hover {
    background: #5cc5e9;
  }
}


.top-header {
  margin: 25px auto;
  text-align: center; }

.logo-1 {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase; }
.logo-1 img {
  display: block;
  margin: 5px auto 0; }

.logo-2 {
  margin: 0 auto 10px;
  display: block;
  width: 138px; }

.bannery {
  margin: 40px auto 0;
  text-align: center;
  width: 100%;
  max-width: 1510px; }
.bannery a {
  display: inline-block; }
.bannery a img {
  width: 100%; }

.copyright-right {
  text-align: center;
  margin: 50px 0;
  font-size: 12px; }
.copyright-right a, .copyright-right a:visited {
  color: #4ca5c4;
  text-decoration: none; }
.copyright-right a:hover {
  text-decoration: underline; }

.password-reset {
  .login-form {
    padding-top: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }

  p {
    margin-bottom: 20px;
  }

  span {
    font-size: 1.2em;
  }
}

// MESSAGES
@import '../_messages';